# -------- Foundry --------
contracts/out/
contracts/cache/

# -------- Next.js --------
frontend/node_modules/
frontend/.next/
frontend/out/

# -------- General --------
.env
.env.local
*.log
dist/
build/
coverage/

subgraph/node_modules/

# OS
.DS_Store
Thumbs.db